<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.agmbat.appupdate">

    <application>
        <activity
            android:name="com.agmbat.appupdate.UpgradeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>
