<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.agmbat.meetyou">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true"
        tools:replace="android:normalScreens" />

    <application
        android:name="com.agmbat.meetyou.MeetApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="TTFdGMPcwEX5qcZK6kEKS0MckfrjmmUg" />

        <activity
            android:name="com.agmbat.meetyou.splash.SplashActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.agmbat.meetyou.account.LoginActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.account.RegisterActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.MainTabActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.account.ChangePasswordActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.coins.CoinsActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.account.ResetPasswordActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.chat.ChatActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustResize" />

        <activity
            android:name="com.agmbat.meetyou.group.GroupMembersActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustResize" />

        <activity
            android:name="com.agmbat.meetyou.edituserinfo.PersonalInfoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.edituserinfo.PersonalInfoMoreActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.edituserinfo.EditAvatarActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.agmbat.meetyou.edituserinfo.EditNameActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.agmbat.meetyou.edituserinfo.EditGenderActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.agmbat.meetyou.edituserinfo.EditSignatureActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.edituserinfo.EditDemandActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.agmbat.meetyou.edituserinfo.EditIntroduceActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.edituserinfo.EditHobbyActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.agmbat.meetyou.edituserinfo.QRCodeCardActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.settings.IdentityAuthenticationActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.settings.FeedbackActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.agmbat.meetyou.search.SearchUserActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.agmbat.meetyou.search.UserInfoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.search.ReportUserActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.agmbat.meetyou.group.ReportGroupActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.agmbat.meetyou.search.NewFriendActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.discovery.search.DiscoveryActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.discovery.meeting.MeetingActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.group.GroupSearchActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.group.GroupInfoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.group.CreateGroupActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.group.GroupListActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.settings.AboutActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.component.WebViewActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.component.ViewImageActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.component.MapActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.search.MoreUserInfoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.group.EditGroupActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.agmbat.meetyou.settings.NotificationSettingActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.agmbat.meetyou.settings.PrivateSettingActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.agmbat.meetyou.blocklist.BlockListActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.agmbat.meetyou.edituserinfo.DisplayAvatarActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.agmbat.meetyou.tab.contacts.ContactSearchActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.agmbat.meetyou.group.SearchChatActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.agmbat.meetyou.tab.msg.SysMsgActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <receiver android:name="com.agmbat.meetyou.MessageReceiver">
            <intent-filter>
                <action android:name="ACTION_MEET_RCV_NEW_MESSAGE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>