<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.agmbat.meetyou">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.agmbat.meetyou.MeetApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.agmbat.meetyou.account.LoginActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.account.RegisterActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.MainTabActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.account.ChangePasswordActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.coins.CoinsActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.account.ResetPasswordActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.chat.ChatActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.agmbat.meetyou.settings.PersonalInfoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.settings.PersonalInfoMoreActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.settings.EditAvatarActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.agmbat.meetyou.settings.EditNameActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.agmbat.meetyou.settings.EditGenderActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.agmbat.meetyou.settings.EditSignatureActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.settings.EditDemandActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.agmbat.meetyou.settings.EditIntroduceActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.settings.EditHobbyActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.agmbat.meetyou.settings.QRCodeCardActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.agmbat.meetyou.search.SearchUserActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.agmbat.meetyou.search.UserInfoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.search.UserInfoVerifyActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.agmbat.meetyou.search.NewFriendActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.discovery.search.DiscoveryActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.discovery.meeting.MeetingActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.agmbat.meetyou.AboutActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
    </application>

</manifest>