<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.agmbat.imsdk">

    <application>
        <activity
            android:name="com.agmbat.imsdk.splash.SplashActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
